<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhongyin.springsecurity.mapper.UserMapper">


    <resultMap id="userResultMap" type="com.liuhongyin.springsecurity.model.User">
        <id property="id" column="id" />
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="authorities" ofType="com.liuhongyin.springsecurity.model.Authority">
            <id property="id" column="authority_id"/>
            <result property="name" column="authority_name"/>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="userResultMap">
        select u.*,a.id authority_id, a.name authority_name
        from auth.user u
                 inner join auth.user_authority ua on u.id = ua.user_id
                 inner join auth.authority a on ua.authority_id = a.id
        where u.username = #{username}

    </select>
</mapper>
